<div class="browseMovies" id="browseMovies">
  <div class="search" id="search">
    <div class="container">
      <h4>Search Movies:</h4>
      <div class="row">
        <div class="col-md-8">
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" name="searchName" [(ngModel)]="searchName"
                placeholder="Search...">
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-lg" (click)="searchMovies(searchName,$event,qualitySelected,genresSelected,ratingSelected)">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="qualitySS">
          <h5>Quality:</h5>
          <select [(ngModel)]="qualitySelected" class="form-control">
            <option value="">All</option>
            <option *ngFor="let qual of quality" [value]="qual.name">{{qual.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
          <div class="qualitySS">
            <h5>Genres:</h5>
            <select [(ngModel)]="genresSelected" class="form-control">
              <option value="">All</option>
              <option *ngFor="let gen of genres" [value]="gen.name">{{gen.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
            <div class="qualitySS">
              <h5>Rating:</h5>
              <select [(ngModel)]="ratingSelected" class="form-control">
                <option value="">All</option>
                <option *ngFor="let rat of ratings" [value]="rat.id">{{rat.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
              <div class="qualitySS">
                <h5>OrderBy:</h5>
                <select class="form-control">
                  <option value="">All</option>
                  <option *ngFor="let or of orderBy" [value]="or.name">{{or.name}}</option>
                </select>
              </div>
            </div>
    </div>
  </div>
  <br>
  <div class="searchResult" id="searchResult" *ngIf="results">
      <div class="container">
        <div class="row">
          <div class="col-md-3" *ngFor="let movie of movies | paginate: { itemsPerPage:20, currentPage:per, totalItems: searchPagesByInput.movie_count}">
            <div class="imageSize">
              <a routerLink="/moviedetails/{{movie.id}}"><img src="{{movie.medium_cover_image}}" alt=""></a>
            </div>
            <h5>{{movie.title}}</h5>
          </div>
        </div>
      </div>
      <br>
      <div class="pagination1" *ngIf="myPages">
          <pagination-controls class="myPip" (pageChange)="searchMovies(searchName,$event)" maxSize="11"></pagination-controls>
        </div>
    </div>

</div>




<br>


<div class="homeData" id="homeData" *ngIf="pages">
  <div class="pagination1">
    <pagination-controls class="myPip"  (pageChange)="getHomePage($event)" maxSize="11"></pagination-controls>
  </div>
  <br>


  <div class="container">
    <div class="row">
      <div class="col"
        *ngFor="let movie of homePage | paginate: { itemsPerPage:20, currentPage:p, totalItems: searchPage.movie_count}">
        <a routerLink="/moviedetails/{{movie.id}}"><img src="{{movie.medium_cover_image}}" alt="">
        </a>
        <div class="title">
          <h5>{{movie.title}}</h5>
          <p>{{movie.year}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="pagination1">
    <pagination-controls class="myPip" (pageChange)="getHomePage($event)" maxSize="11"></pagination-controls>
  </div>
  <br>

</div>